body {
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
}

.section {
  border-left: 3px solid green;
  padding-left: 20px;
  width: 30%;
}

.section h2 {
  margin-bottom: 15px;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section li {
  margin-bottom: 15px;
}
